@page "/user/custom"
@layout UserContextLayout
@inherits BlazorNinjaComponent


<div class="kickstart-user-page-container blazor-ninja-page">
    @if (_state == BlazorNinjaComponentState.Loading || _state == BlazorNinjaComponentState.Working)
    {
        <div class="blazor-ninja-flashing"></div>
    }
    <div class="kickstart-user-form-container">

        @foreach (var item in _users)
        {
            <div class="box-wrap">
                <div class="user-pro">
                    <img src="@item.PhotoUrl" />
                </div>
                <div class="user-details">
                    <label>@item.FirstName @item.LastName</label>
                    @{
                        <label>Followers @item.Followers</label>
                    }

                    @{
                        <label>Following @item.Following</label>
                    }
                </div>
                <div class="follow-btn">
                    @{
                        var isFollow = _userFollow?.Following?.Any(x => x == item.Id) ?? false;
                        if (isFollow)
                        {
                            <button @onclick="(async () => await UnfollowAsync(item.Id))" class="btn btn-primary">UnFollow</button>
                        }
                        else
                        {
                            <button @onclick="(async () => await FollowAsync(item.Id))" class="btn btn-primary">Follow</button>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <div class="pagination">
        @if (_userCounts != 0)
        {
            <button class="btn btn-primary @(_pageNumber==0?"disable-btn":"")" @onclick=@(async ()=>await NavigateBack())>Prev</button>
            @for (var index = 0; index < (int)Math.Ceiling(_userCounts / (decimal)_pageSize); index++)
            {
                var currentIndex = index;
                <button type="button" class="@(_pageNumber==index?"btn btn-primary":"")" @onclick="(async ()=>await OnPageChange(currentIndex))">@(index + 1)</button>
            }
            <button class="btn btn-primary @((_pageNumber+1)==(int)Math.Ceiling(_userCounts / (decimal)_pageSize)?"disable-btn":"")" @onclick=@(async ()=>await NavigateForward())>Next</button>
        }
    </div>
</div>



@code {
    private IUserProxy<CustomUser> _proxy;

    private BlazorNinjaComponentState _state = BlazorNinjaComponentState.Loading;

    private CustomUser _currentUser = new CustomUser();

    private UserFollow _userFollow = new UserFollow();

    private List<CustomUser> _users = new List<CustomUser>();

    private long _userCounts;

    private int _pageSize = 3;

    private int _pageNumber = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var token = await GetContextTokenAsync();

        _proxy = ProxyFactory.GetUserProxy<CustomUser>(token);

        await GetFollowDataAsync();

        _users = await LoadAsync();

        _userCounts = await _proxy.GetCountAsync(Filter<CustomUser>.Empty);

        _state = BlazorNinjaComponentState.WaitingForInput;
    }

    private async Task<List<CustomUser>> LoadAsync()
    {
        var userPage = await _proxy.GetPageAsync(Filter<CustomUser>.Empty, _pageNumber, _pageSize, SortOrder<CustomUser>.Empty);

        var users = userPage.Items;

        var customUsers = await Task.WhenAll(users.Select(async x => new CustomUser
        {
            Id = x.Id,
            PhotoUrl = x.PhotoUrl,
            FirstName = x.FirstName,
            LastName = x.LastName,
            Followers = await _proxy.GetFollowersAsync(x.Id),
            Following = await _proxy.GetFollowingAsync(x.Id)

        }));

        return customUsers.ToList();
    }

    private async Task FollowAsync(string id)
    {
        _state = BlazorNinjaComponentState.Working;

        await _proxy.FollowAsync(_currentUser.Id, id);

        await GetFollowDataAsync();

        _users = await LoadAsync();

        _state = BlazorNinjaComponentState.WaitingForInput;
    }

    private async Task UnfollowAsync(string id)
    {
        _state = BlazorNinjaComponentState.Working;

        await _proxy.UnfollowAsync(_currentUser.Id, id);

        await GetFollowDataAsync();

        _users = await LoadAsync();

        _state = BlazorNinjaComponentState.WaitingForInput;
    }

    public async Task NavigateForward()
    {
        _pageNumber += 1;

        _users = await LoadAsync();
    }

    public async Task NavigateBack()
    {
        _pageNumber -= 1;

        _users = await LoadAsync();
    }


    public async Task OnPageChange(int page)
    {
        _pageNumber = page;

        _users = await LoadAsync();
    }

    private async Task GetFollowDataAsync()
    {
        var token = await GetContextTokenAsync();

        _proxy = ProxyFactory.GetUserProxy<CustomUser>(token);

        _currentUser = await _proxy.GetAsync();

        _userFollow = await _proxy.GetFollowDataAsync(_currentUser.Id);
    }
}
