@inherits ToDoTaskComponent

<div class="blazor-ninja-form-container kickstart-todo-task-form-container">

    <Spinner Show="IsLoadingOrWorking"></Spinner>

    @if (State == BlazorNinjaComponentState.Failed)
    {
        @if (HasMessage)
        {
            <div class="blazor-ninja-error-center">
                @Message
            </div>
        }
        <button type="button"
                class="btn-secondary"
                @onclick="@OnRetryClickedAsync">
            Retry
        </button>
    }

    @if (_item != default)
    {
        <EditForm Model="@_item" OnValidSubmit="@SaveAsync">

            <InputText id="title"
                   @bind-Value="_item.Title"
                   placeholder="Enter to-do title"
                   autofocus="@true"
                   disabled="@IsNotWaitingForInput" />

            <textarea @bind="@_item.Body"
                  placeholder="Enter to-do description"
                  rows=5
                  disabled="@IsNotWaitingForInput">
                </textarea>

            <div class="date">
                <SfDatePicker TValue="DateTime?" @bind-Value="@_item.DueDate" Placeholder="Choose a Date">
                </SfDatePicker>
            </div>

            @if (State == BlazorNinjaComponentState.Working)
            {
                <div class="blazor-ninja-flashing-form"></div>
            }

            @if (HasMessage)
            {
                <div class="blazor-ninja-error-form">
                    @Message
                </div>
            }

            <button type="submit" class="btn-primary">
                Save
            </button>

        </EditForm>
    }

</div>
